@import url('https://fonts.googleapis.com/css2?family=Alan+Sans&family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Libertinus+Keyboard&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #191f36;
}

.section1 {
    width: 95%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

nav {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #f49818 solid 2px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #191f36;
    z-index: 1000;
}

.menu i {
    color: #fff;
    font-size: 2rem;
    display: none;
}


.lien a:hover {
    color: #f49818;
    text-decoration: underline;
    cursor: pointer;

}

.logo a:hover {
    color: #f49818;
    text-decoration: underline;
    cursor: pointer;

}

.logo a {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;

}

.lien .home {
    color: #f49818;
}

.lien a {
    font-weight: 600;
    font-size: 1.5rem;
    color: #fff;
    margin-left: 40px;

}

.lien {
    padding: 10px;
}

.partie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    margin: auto;


}

.loren {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 8px;
    margin-bottom: 50px;

}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-bottom: 50px;

}

.icon {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;

}

.loren p {
    width: 90%;
    font-weight: 400;
    margin-top: 20px;
    font-size: 1.3rem;
}

.fill {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: solid #f49818 1px;
    transition: all 0.5s ease;

}

.fill:hover {
    box-shadow: 0 0 15px #f49818;
    transform: scale(1.1);

}

h3 {
    font-size: 2.3rem;
}

h1 {
    font-size: 5.6rem;
}

.fill i {
    font-size: 2rem;
    gap: 20px;
    color: #f49818;

}

.btn {
    margin-top: 30px;
}

.btn button {
    width: 200px;
    padding: 16px 14px;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 30px;
    background-color: #f49818;
    border: none;
    box-shadow: 0px 0px 19px 0px #f49818;
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover {
    box-shadow: 0 0 15px #f49818;
    transform: scale(1.1);
}

.image {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: floatImage 4s ease-in-out infinite;

}

@keyframes floatImage {
    0% {
        transform: translateY(0);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }

    50% {
        transform: translateY(-2rem);
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    }

    100% {
        transform: translateY(0);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }
}

.image img {
    width: 90%;
    height: 90%;
    border-radius: 50%;

}

main {
    height: 100%;
    width: 100%;
}

.couleur {
    background-color: #262b40;
    width: 100%;

}

.image1 img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: solid grey 1px;

}

.emation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.para {
    margin-top: 30px;
    line-height: 30px;
}

.image1 {
    margin-top: 50px;
    border-radius: 8px 150px 8px 8px;
    width: 500px;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-bottom: 50px;
}

.btn {
    margin-top: 30px;
}

.partie2 {
    min-height: 99vh;
    background-color: #191f36;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.groupe {
    width: 95%;
    text-align: center;
    margin: auto;

}

.ren h1 {
    font-size: 4rem;

}

.service h1 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 30px;
}

.service span {
    color: #f49818;
}

.trios {
    color: #fff;
    background-color: #262b40;
    padding: 30px 30px;
    border-radius: 22px;
    width: 95%;
    margin: auto;
    font-weight: 700;
    transition: border-color 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;

}

.trios:hover {
    border: solid #f49818 2px;
    transform: scale(1.01);
    box-shadow: 0 6px 20px #f49818(120, 115, 245, 0.15);
}

.dev {
    margin-bottom: 30px;
    line-height: 70px;
}

.line {
    color: #f49818;
    font-size: 7rem;
}

.para1 {
    font-weight: 600;
    line-height: 25px;
    width: 90%;
    text-align: center;
    margin: auto;
}

.parie3 {
    height: 95vh;
    background-color: #262b40;
    text-align: center;
    padding: 10px;

}

.grid {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}

.Latest {
    width: 98%;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 20px;
}

.Latest img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.none {
    bottom: -100%;
    top: -100%;
    background: linear-gradient(to top, #f49818 10%, rgba(255, 255, 255, 0) 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    height: 100%;
    position: absolute;
    margin: auto;
    color: #fff;
    font-weight: 700;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease;
}

.none:hover {
    transform: translateY(0);
    opacity: 1;

}

.none i {
    padding: 10px;
    font-size: 1.5rem;
    margin-top: 20px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.854);
    border-radius: 30px;
    transition: transform 0.3s ease;

}

.Latest {
    margin: auto;
    width: 95%;
    height: 95%;
    gap: 5px;

}

.Latest img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.none i:hover {
    transform: scale(1.2);
}
.section4 {
    width: 100%;
    margin: auto;
    padding: 10px;
    background-color: #191f36;
    text-align: center;

} 

.Contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.derniere {
    height: 80vh;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.localisation {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.iframe iframe {
    border-radius: 20px;

}

.mail {
    padding: 20px;
    text-align: start;

}

.name {
    margin-bottom: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.holder {
    width: 43%;
}

input {
    background-color: #262b40;
    padding: 22px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    outline: none;
}

textarea {
    width: 88%;
    height: 200px;
    resize: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 20px;
    margin-top: 20px;
    background-color: #262b40;
    outline: none;
    color: white;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    background-color: #262b40;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.copy {
    color: white;
    font-weight: 400;
    font-size: 1.2rem;


}

.href {
    width: 85%;
    text-align: start;

}

.href a {
    padding: 5px 18px;
    color: black;
    font-size: 1.8rem;
    background-color: #f49818;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 20px;

}

.bas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media (max-width:1440px) {
    .parie3 {
        height: 85vh;
    }
}

@media (max-width:1024px) {

    .loren h1 {
        font-size: 4rem;
    }

    .loren h3 {
        font-size: 2rem;

    }

    .loren p {
        font-size: 19px;
    }

    .image {
        width: 430px;
        height: 430px;
    }

    .image img {
        width: 97%;
        height: 97%;
    }

    .image1 {
        width: 430px;
        height: 430px;
        margin-top: 5px;
    }

    .image1 img {
        width: 100%;
        height: 100%;
    }

    .service h1 {
        font-size: 3rem;
    }

    .groupe {
        width: 100%;
    }

    .trios {
        padding: 18px 18px;
    }

    .line {
        font-size: 5.5rem;

    }

    .parie3 {
        height: 98vh;
    }

    .grid {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

    .holder {
        width: 50%;
    }

    .holder input {
        padding: 18px;
    }

    textarea {
        width: 100%;
    }
}

@media (max-width:768px) {
    .lien {
        display: none;
    }

    .menu i {
        display: block;
    }

    .partie {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        margin-top: 25px;
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loren {
        text-align: center;
    }

    .para {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100% !important;
        padding: 10px;
    }

    .image {
        width: 340px;
        height: 340px;
    }

    .image img {
        width: 98%;
        height: 98%;
        object-fit: cover;
    }

    .image1 {
        width: 340px;
        height: 340px;
    }

    .image1 img {
        object-fit: cover;
        width: 98%;
        height: 98%;
    }

    .couleur {
        margin-top: 0;
    }

    .section2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        margin-top: 0px;
        margin: auto;
    }

    .line {
        font-size: 3.7rem;
    }

    .dev {
        margin-bottom: 30px;
        padding: 0;
        line-height: 30px;
    }

    .dev h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .trios {
        width: 95%;
        height: 95%;
        padding: 10px;
        margin: auto;
    }

    .para1 {
        font-size: 17px;
    }

    .second button {
        margin-top: 0;
        margin-bottom: 30px;
        width: 190px;
        padding: 12px 11px;
        font-weight: 600;
        font-size: 1.2rem;
    }

    .section4 {
        min-height: 100vh;
    }

    .localisation {
        height: 90vh;
        display: grid;
        grid-template-columns: 1fr;
        flex-direction: column;
    }

    iframe {
        width: 100%;
        height: 400px;
        border: solid red;
    }

    textarea {
        height: 150px;
    }
}

@media (max-width:425px) {
    .logo {
        font-size: 0.8rem;
    }

    .loren h1 {
        font-size: 2.2rem;
    }

    .loren h3 {
        font-size: 1.5rem;
    }

    .loren p {
        font-size: 17px;
        line-height: 25px;
    }

    .ren {
        width: 100%;
        margin-top: 10px;
    }

    .premier button {
        width: 190px;
        padding: 13px 12px;
        font-weight: 600;
        font-size: 1.2rem;

    }
    .image {
        width: 320px;
        height: 320px;
    }

    .image img {
        width: 98%;
        height: 98%;
        object-fit: cover;
    }

    .image1 {
        width: 320px;
        width: 320px;
    }

    .image1 img {
        object-fit: cover;
        width: 98%;
        height: 98%;
    }
    .groupe{
        width: 100%;
        height: 100%;
    }
     .trios {
        width: 90%;
        height: 100%;
        padding: 12px;
        margin: auto;
        margin-bottom: 30px;
    }
     .line {
        font-size: 3rem;
        margin-top: 0px;
    }
    .dev {
        margin-bottom: 30px;
        padding: 0;
        line-height: 20px;
    }

    .dev h3 {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
     .para1 {
        font-size: 16px;
    }
    .service h1{
        font-size: 2rem;
    }
      .second button {
        margin-top: 0;
        margin-bottom: 40px;
        width: 190px;
        padding: 12px 11px;
        font-weight: 600;
        font-size: 1.2rem;
    }
    .dollar{
        height: 30%;
    }
    .section2{
        height: 100%;
    }
    .parie3{
        height: 100% !important;
    }
    .section4{
        min-height: 100vh !important;
    }
    
    .copy p{
        width: 100%;
        font-size: 17px;
        padding: 0;
        margin-top: 30px;
    }
 
    .bas{
        flex-direction: column-reverse;
    }
    .center{
        margin-bottom: 90px;
    }
    .name{
        padding: 2px;
        flex-direction: column;
    }
    iframe{
        width: 100%;
        height: 300px;
    }
    textarea{
        height: 130px;
    }
  
    .mail{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
 
    .holder{
        width: 100%;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 10px;
    }

}
@media (max-width:375px) {
    .force p{
        font-size: 16px;
        margin-bottom: 10px;
        width: 100%;
    }
   
    footer{
        padding: 10px;
    }
    
}
@media (max-width:320px) {
     .image {
        width: 300px;
        height: 300px;
    }

    .image img {
        width: 98%;
        height: 98%;
        object-fit: cover;
    }

    .image1 {
        width: 300px;
        width: 300px;
    }

    .image1 img {
        object-fit: cover;
        width: 98%;
        height: 98%;
    } 
    .force p{
        font-size: 15px;
    }
  
  
    
}